*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* body{
    background-color: #DBEDF3;
} */

h1{
    text-align: center;
    padding: 3rem;
    margin-bottom: 2rem;
    font-size: 50px;
    font-family: 'Righteous', cursive;
    background-color: #4ECCA3;
}

.choices{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.choice-div{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

.choice{
    width: 10rem;
    height: 10rem;
    margin: 3rem;
    padding: 2rem;
    border: 3px solid #65799B;
    cursor: pointer;
    /* background-color: brown; */
    background-color: #DBD8E3;
}

.choice-decline {
    cursor: not-allowed;
}

.scores{
    width: 20rem;
    margin: 3rem auto;
    padding: 1rem;
    border-left: 5px solid #4ECCA3;
    background-color: #DBD8E3;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.round{
    text-align: center;
}

p{
    text-align: center;
    font-family: 'Righteous', cursive;
}


.display-choice{
    width: 30rem;
    height : 8rem;
    border-left: 5px solid #4ECCA3;
    background-color: #DBD8E3;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    text-align: left;
    margin: 0 auto 3rem auto;
    padding-left: 1rem;

}

.player-score {
    margin-bottom: 1rem;
}

.result{
    border-left: 5px solid #4ECCA3;
    background-color: #DBD8E3;
    width: 20rem;
    margin: 0 auto;
    padding: 1rem;
    display: none;
}

.result-show{
    border-left: 5px solid #4ECCA3;
    background-color: #DBD8E3;
    width: 20rem;
    margin: 0 auto;
    padding: 1rem;
    display: block;
}

.final-result{
    border-left: 5px solid #4ECCA3;
    background-color: #DBD8E3;
    width: 25rem;
    margin: 0.5rem auto;
    padding: 1rem;
    display: none;
}

.final-result-show{
    border-left: 5px solid #4ECCA3;
    background-color: #DBD8E3;
    width: 25rem;
    margin: 2rem auto;
    padding: 1rem;
    display: block;
}


