:root{
    --side-border-color : #5C5470;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1{
    text-align: center;
    padding: 3rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
    font-size: 50px;
    margin-left: 12rem;
    margin-right: 12rem;
    border-radius: 1rem;
    font-family: 'Righteous', cursive;
    background-color: #BDBDD7;
    color: #46466E;
    letter-spacing: 0.2rem;
    text-shadow: 2px 2px 2px #a195c8;
}

.header-button{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.restart{
    width: 8rem;
    padding: 1rem;
    background-color: #DBD8E3;
    cursor: pointer;
    display: none;
    border: 3px solid #65799B;
    font-family: 'Righteous', cursive;
    font-size: 16px;
    margin: 0rem auto 2rem auto;
}

.restart-button-show{
    width: 8rem;
    padding: 1rem;
    background-color: #DBD8E3;
    cursor: pointer;
    display: inline-block;
    margin: 0rem auto 2rem auto;
}

.choices{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.choice-div{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.choice-div-dontshow{
    display: none;
}

.choice{
    width: 10rem;
    height: 10rem;
    margin: 3rem;
    padding: 2rem;
    border: 3px solid #65799B;
    cursor: pointer;
    background-color: #DBD8E3;
    display: inline-block;
    transition: transform 300ms 100ms ease-in-out;
}

.choice:hover{
    box-shadow: 2px 3px 10px 5px #d3d5d9;
    transform: scale(1.1);
    background-color: #BDBDD7;
}

.choice-decline {
    cursor: not-allowed;
}

.scores{
    width: 20rem;
    margin: 3rem auto;
    padding: 1rem;
    border-left: 5px solid var(--side-border-color);
    background-color: #DBD8E3;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.round{
    text-align: center;
}

p{
    text-align: center;
    font-family: 'Righteous', cursive;
}

.display-choice{
    width: 30rem;
    height : 8rem;
    border-left: 5px solid var(--side-border-color);
    background-color: #DBD8E3;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    text-align: left;
    margin: 0 auto 3rem auto;
    padding-left: 1rem;
}

.player-score {
    margin-bottom: 1rem;
}

.result{
    border-left: 5px solid var(--side-border-color);
    background-color: #DBD8E3;
    width: 20rem;
    margin: 0 auto;
    padding: 1rem;
    display: none;
}

.result-show{
    border-left: 5px solid var(--side-border-color);
    background-color: #DBD8E3;
    width: 20rem;
    margin: 0 auto;
    padding: 1rem;
    display: block;
}

.final-result{
    border-left: 5px solid var(--side-border-color);
    background-color: #DBD8E3;
    width: 25rem;
    margin: 0.5rem auto;
    padding: 1rem;
    display: none;
}

.final-result-show{
    border-left: 5px solid var(--side-border-color);
    background-color: #DBD8E3;
    width: 25rem;
    margin: 2rem auto;
    padding: 1rem;
    display: block;
}

footer h3{
    font-family: 'Righteous', cursive;
    margin-top: 3rem;
    background-color: black;
    color: white;
    font-size: 14px;
    padding: 2rem;
    text-align: center;
    letter-spacing: 0.2rem;

}

/* working on media queries */

@media only screen and (max-width:740px){

    
h1{
    text-align: center;
    padding: 2rem 0rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
    font-size: 40px;
    margin-left: 6rem;
    margin-right: 6rem;
    border-radius: 1rem;
    font-family: 'Righteous', cursive;
    background-color: #BDBDD7;
    color: #46466E;
    letter-spacing: 0.2rem;
    text-shadow: 2px 2px 2px #a195c8;
}

.display-choice{
    width: 22rem;
    margin: 0 auto 2rem auto;
}

.choice{
    width: 5rem;
    height: 5rem;
    padding: 1.2rem;
    margin: 1rem;

}

.scores{
    width: 22rem;
    margin: 2rem auto;
    padding: 1rem;
}

.final-result{
    width: 22rem;
    margin: 1rem auto;
    display: none;
}

.final-result-show{
    width: 22rem;
    display: block;
    margin: 1rem auto;
}

.result{
    width: 22rem;
    display: none;
    margin: 1rem auto;
}

.result-show{
    width: 22rem;
    display: block;
    margin: 1rem auto;
}

.restart-button-show{
    margin: 1.5rem auto 2.5rem auto;
}

footer h3{
    font-family: 'Righteous', cursive;
    margin-top: 3rem;
    background-color: black;
    color: white;
    font-size: 14px;
    padding: 2rem;
    text-align: center;
    letter-spacing: 0.2rem;

}




}


